<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
</head>


<!--<% if (messages.success) { %>
<div class="flash flash-success"><%= messages.success %></div>
<% } %>-->


<div class="hand">


    <div class = "card suitdiamonds" onclick="window.location='/form_house';">
        <img src="../static/images/submit.png" class="image-icon">
        <p>添加房产信息</p>
    </div>

    <div class = "card suitdiamonds" onclick="window.location='/form_area';">
        <img src="../static/images/batching.png" class="image-icon">
        <p>添加社区信息</p>
    </div>

    <div class = "card suitdiamonds" onclick="window.location='/form_orderer';">
        <img src="../static/images/transit.png" class="image-icon">
        <p>添加订单信息</p>
    </div>

    <div class = "card suitdiamonds" onclick="window.location='/house_search';">
        <img src="../static/images/user-food.png" class="image-icon">
        <p>房产信息查询</p>
    </div>

    <div class = "card suitdiamonds" onclick="window.location='/area_search';">
        <img src="../static/images/part_of_food.png" class="image-icon">
        <p>社区信息查询</p>
    </div>

    <div class = "card suitdiamonds" onclick="window.location='/orderer_search';">
        <img src="../static/images/business.png" class="image-icon">
        <p>租赁记录查询</p>
    </div>
</div>
</html>
